NEXT_PUBLIC_SUPABASE_URL=https://rzyqgorzfnqnwzxwiovv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6eXFnb3J6Zm5xbnd6eHdpb3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NjUzNDEsImV4cCI6MjA5MTQ0MTM0MX0.j7QFCN7--QM-751UjprZJBWyYQbALKLIAay-feQIJWs